* {
  box-sizing: border-box;
}

html {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  display: flex;
}

body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-family: "Montserrat", "Fraunces", sans-serif;
  font-size: 0.875rem;
  background-color: var(--cream-bg);
}

/* STYLE GUIDE */
:root {
  /* Main Colors */
  --white: #ffffff;
  --cream-bg: #f2eae2;
  --aurometal-saurus: #6c7289;
  --deep-aquamarine: #3d8168;
  --deep-aquamarine-hover: #1a4032;
  --gunmetal: #1c232b;
}

/* Main Styling */

main {
  display: flex;
  flex-direction: column;
  height: 38.1875rem;
  width: 21.4375rem;
  margin: 0;
  background-color: var(--white);
  border-radius: 10px;
}

img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.desktop-img {
  display: none;
}

.card-content-container {
  padding: 1.5rem;
}

.product-category {
  color: var(--aurometal-saurus);
  font-size: 0.75rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

h1 {
  color: var(--gunmetal);
  font-family: "Fraunces", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2rem;
  margin: 1rem 0;
}

p {
  color: var(--aurometal-saurus);
  line-height: 1.4375rem;
  font-weight: 500;
}

div.product-price {
  color: var(--deep-aquamarine);
  font-size: 2rem;
  font-family: "Fraunces", sans-serif;
  font-weight: bold;
  line-height: 2rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.product-price > span {
  color: var(--aurometal-saurus);
  text-decoration-line: line-through;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.4375rem;
  margin-bottom: 0;
  margin-left: 1.1875rem;
}

button {
  font-family: inherit;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  border: 0;
  border-radius: 8px;
  color: var(--white);
  background-color: var(--deep-aquamarine);
  height: 3rem;
  width: 100%;
}

button > img {
  width: 1rem;
  margin-right: 0.75rem;
}

button:hover,
button:focus {
  background-color: var(--deep-aquamarine-hover);
}

/* ============
        Media Queries
        =========== */

@media (min-width: 376px) {
  main {
    display: flex;
    flex-direction: row;
    width: 37.5rem;
    max-height: 28.125rem;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  img {
    width: 18.75rem;
    border-radius: 10px 0 0 10px;
  }

  .card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
